/* Mobile First Approach */

/* Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hide-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }
}

/* Medium devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .hide-tablet {
        display: none !important;
    }
}

/* Large devices (desktops, 768px and up) */
@media (min-width: 768px) {
    .hide-desktop {
        display: none !important;
    }
}